@* @page "/account/logout" *@
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using Microsoft.AspNetCore.Authentication
<h3>Logout</h3>




<EditForm Context="LoginForm" OnSubmit="@Signout">
    <button type="submit" class="btn btn-primary">Logout</button>
</EditForm>



@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; }

    private async Task Signout()
    {
        await HttpContext.SignOutAsync("TdtsCookie");
        await localStorage.RemoveItemAsync("token");
    }
}
